.left-menu-offcanvas {
  .nav {
    display: flex;
    flex-direction: column;

    a {
      text-decoration: none;
    }

    .nav-link {
      color: #000;
      border-radius: 8px;
      margin-bottom: 4px;

      span {
        padding-left: 1rem;
      }

      &.active,
      &:hover {
        background-color: #000;
        color: #fff;

        svg {
          fill: white;
        }
      }
    }
  }
}

.left-menu-offcanvas[data-bs-theme="dark"] {
  .nav-link {
    color: #fff;

    &.active,
    &:hover {
      background-color: #fff;
      color: #000;

      svg {
        fill: #000;
      }
    }
  }
}
